GROQ_API_KEY=xxxx
GROQ_MODEL=llama3-70b-8192

PINECONE_API_KEY=xxxx
PINECONE_ENV=us-east-1
PINECONE_INDEX_NAME=nyay-saar-index

AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=xxxx
AWS_REGION=ap-south-1
S3_BUCKET_NAME=nyay-saar-docs

APP_ENV=development
PORT=8000

SECRET_KEY=xxxx
ALLOWED_ORIGINS=http://localhost:3000